/*Fonts & Colors*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #2e3d4d;
  background-color: rgb(49,62,76);
}

h1 {
  font-family: 'Raleway', sans-serif;
  color:white;
  text-align: center;
  padding: 50px;
  margin-top: 5s0px;
}
h2 {
	font-size:22px;
	font-weight: bold;
	height: 30px;
}

img {
  height: 200px;
  object-fit: cover;
}

p {
	height: 50px;
}
/*Custom Designs*/

.card {
	background-color: white;
	padding: 15px;
	margin-top: 20px;
	height: 400px;
	text-align: center;
}